@import "tailwindcss";

.active {
  font-weight: 500;
}
.courses.active {
  font-weight: 500;
  border-color: #4a7a6b;
  color: black;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}

/* Hide scrollbar  */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --font-pt-serif: "PT Serif", serif;
  --color-avocado: #4a7a6b;
}
